<form #myForm="ngForm">
  <h3 class="titleAgregar">EDITAR PERFIL</h3>
  <div class="submit-form">
    <div *ngIf="submitted">
      <div class="form-row">
        <div class="col">
          <label class="titleForm" for="Documento">Documento</label>
          <input
            type="number"
            class="form-control"
            id="marca"
            placeholder="0000000000000000"
            required
            [(ngModel)]="currentUser.document_id"
            name="Documento"
          />
        </div>
        <div class="col">
          <label class="titleForm" for="Tipo">Tipo Documento</label>
          <select
            class="form-control"
            name="select"
            [(ngModel)]="currentUser.document_type"
          >
            <option value="1">CC</option>
            <option value="2">TI</option>
            <option value="3">CE</option>
          </select>
        </div>
        <div class="col">
          <label class="titleForm" for="Direccion">Direccion</label>
          <input
            type="text"
            class="form-control"
            placeholder="calle 1 "
            id="modelo"
            required
            [(ngModel)]="currentUser.address"
            name="Direccion"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label class="titleForm" for="Correo">Correo</label>

          <input
            type="email"
            placeholder="lucas@ejemplo.com"
            class="form-control"
            id="modelo"
            required
            [(ngModel)]="currentUser.email"
            name="Correo"
          />
        </div>
        <div class="col">
          <label class="titleForm" for="Nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="modelo"
            placeholder="Cristian"
            required
            [(ngModel)]="currentUser.first_name"
            name="Nombre"
          />
        </div>
        <div class="col">
          <label class="titleForm" for="Apellido">Apellido</label>
          <input
            type="text"            
            class="form-control"
            id="modelo"
            placeholder="Sanchez"
            required
            [(ngModel)]="currentUser.last_name"
            name="Apellido"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label class="titleForm" for="Localidad">Localidad</label>
          <input
            type="text"
            placeholder="Santafe"
            class="form-control"
            id="modelo"
            required
            [(ngModel)]="currentUser.neighbourhood"
            name="Localidad"
          />
        </div>
        <div class="col">
          <label class="titleForm" for="Contraseña">Contraseña</label>
          <input
            type="password"
            placeholder="***************"
            class="form-control"
            id="modelo"
            required
            [(ngModel)]="currentUser.password"
            name="Contraseña"
          />
        </div>
        <div class="col">
          <label class="titleForm" for="Celular">Celular</label>
          <input
            type="text"
            placeholder="123456890"
            class="form-control"
            id="modelo"
            required
            [(ngModel)]="currentUser.phone_number"
            name="Celular"
          />
        </div>
      </div>
    </div>

    <hr />

    <button
      (click)="updateUser()"
      [disabled]="!myForm.form.valid"
      class="btn btn_add"
    >
      ACTUALIZAR
    </button>
  </div>

  {{ msgError }}
</form>
