<button class="btn btn_add" (click)="triggerModals(modalData)">
  AGREGAR BASURA
</button>

<button class="btn btn_add-s" (click)="mostrar()">Mostrar basuras</button>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title titleTable" id="modal-basic-title">AGREGAR</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="width: 400px; margin: auto">
      <div class="submit-form">
        <div class="col">
          <label class="titleForm" for="wiki">Tipo Basura</label>
          <select class="form-control" name="select" [(ngModel)]="bag.type">
            <option value="GREEN">GREEN</option>
            <option value="WHITE">WHITE</option>
            <option value="BLACK">BLACK</option>
            <option value="RED">RED</option>
          </select>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            (click)="saveBag()"
            (click)="modal.close('Save click')"
          >
            AGREGAR
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="buscarAutos">
  <div class="r">
    <label *ngIf="!currentBag"
      ><span class="tituloDeAutos">{{ msgError }}</span></label
    >
    <div class="card" *ngIf="currentBag">
      <div class="card-body">
        <h5 class="card-title titleTable">Detallado Basura/Residuos</h5>
        <div *ngFor="let id of waterSet; let i = index">
          <label><span class="tituloDeAutos">Nombre:</span>{{ id.name }}</label>
          <label
            ><span class="tituloDeAutos">Descripcion:</span>
            {{ id.description }}</label
          >

          <label
            ><span class="tituloDeAutos">Reciclaje:</span>
            {{ id.Recycling.recycling }}</label
          >
        </div>
      </div>
    </div>
  </div>

  <div class="listContainer scroll">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let id of bagSet; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBag(id, i)"
      >
        <div>{{ id.type }}</div>
        <div>
          <button class="btn btn_se" (click)="triggerModal(modalDes)">
            AGREGAR Desperdicio
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #modalDes let-modal>
  <div class="modal-header">
    <h4 class="modal-title titleTable" id="modal-basic-re">Desperdicio</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="width: 400px; margin: auto">
      <div class="submit-form">
        <div class="col">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="marca"
              required
              [(ngModel)]="water.name"
              name="marca"
            />
          </div>
          <div class="form-group">
            <label for="name">Descripcion</label>
            <input
              type="text"
              class="form-control"
              id="marca"
              required
              [(ngModel)]="water.description"
              name="marca"
            />
          </div>
          <div class="form-group">
            <label for="name">Codigo</label>
            <input
              type="text"
              class="form-control"
              id="marca"
              required
              [(ngModel)]="recycling.code"
              name="marca"
            />
          </div>
          <div class="form-group">
            <label for="name">Resiclable?</label>
            <input
              type="text"
              class="form-control"
              id="marca"
              required
              [(ngModel)]="recycling.recycling"
              name="marca"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            (click)="wastersave()"
            (click)="modal.close('Save click')"
          >
            AGREGAR
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
