<nav class="nav_containers">
  <a *ngIf="isLoggedIn" routerLink="home">
    <h2 class="titleAgregar">Basuras</h2>
  </a>
  <div class="" id="navbarNav">
    <ul class="lista">
      <li class="">
        <a *ngIf="isLoggedIn" routerLink="listUser" class="nav-link"
          >Lista Usuario</a
        >
      </li>
    </ul>
  </div>
  <div *ngIf="isLoggedIn" class="menuContainer" (click)="abrirmenu()">
    <span>{{ correo }}</span>
    <img src="../assets/Path.svg" alt="flecha abajo" />
    <div *ngIf="visible" class="Menu">
      <ul>
        <li>
          <a routerLink="edidPerfil">Mi cuenta</a>
        </li>
        <li>
          <a href="/logout" (click)="handleLogout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-app">
  <router-outlet></router-outlet>
</div>
